# -*- mode: gitignore; -*-
# vi: set ft=gitignore:

/_build/
/bazel-*
*.make
CMakeCache.txt
cmake_install.cmake
Makefile
.vscode/
*.cmake

*.so*
*/CMakeFiles/*
*.log
CMakeFiles/
examples/Circle
examples/Circle_graphic
.gitignore
examples/first_name_letter
*/DartConfiguration.tcl